/* Raster v7 (debugging helper extras) (rsms.me/raster) */
/* Debug */
:root {
  --debugGrey05:  rgba(120, 120, 120, 0.05);
  --debugGrey1:   rgba(120, 120, 120, 0.1);

  --debugGrey2:   rgba(120, 120, 120, 0.2);
  --debugRed2:    rgba(238, 39,  17,  0.2);
  --debugBlue2:   rgba(24,  113, 233, 0.2);
  --debugGreen2:  rgba(18,  192, 91,  0.2);
  --debugYellow2: rgba(249, 191, 15,  0.2);
  --debugPink2:   rgba(255, 0,   255, 0.2);
  --debugCyan2:   rgba(20,  230, 245, 0.2);

  --debugCyan3:   rgba(20,  230, 245, 0.3);

  --debugGrey4:   rgba(120, 120, 120, 0.4);
  --debugRed4:    rgba(238, 39,  17,  0.4);
  --debugBlue4:   rgba(24,  113, 233, 0.4);
  --debugGreen4:  rgba(18,  192, 91,  0.4);
  --debugYellow4: rgba(249, 191, 15,  0.4);
  --debugPink4:   rgba(255, 0,   255, 0.4);
  --debugCyan4:   rgba(20,  230, 245, 0.4);

  --debugGrey8:   rgba(120, 120, 120, 0.8);
  --debugRed8:    rgba(238, 39,  17,  0.8);
  --debugBlue8:   rgba(24,  113, 233, 0.8);
  --debugGreen8:  rgba(18,  192, 91,  0.8);
  --debugYellow8: rgba(249, 191, 15,  0.8);
  --debugPink8:   rgba(255, 0,   255, 0.8);
  --debugCyan8:   rgba(20,  230, 245, 0.8);

  --wireWeight: 1px;
}
html.chrome, html.firefox { --wireWeight: var(--pixel); }
body.debug address, body.debug article, body.debug aside,
body.debug blockquote, body.debug canvas, body.debug dd, body.debug div,
body.debug dl, body.debug dt, body.debug fieldset, body.debug figcaption,
body.debug figure, body.debug footer, body.debug form, body.debug grid,
body.debug h1, body.debug h2, body.debug h3, body.debug h4, body.debug h5,
body.debug h6, body.debug header, body.debug hr, body.debug li,
body.debug main, body.debug nav, body.debug noscript, body.debug ol,
body.debug p, body.debug pre, body.debug section, body.debug table,
body.debug tfoot, body.debug ul, body.debug video {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugPink4),
              0px 0px 0px var(--wireWeight) var(--debugPink4),
              0px var(--blockSpacingBottom) 0px 0px var(--debugYellow2),
              0px calc(var(--blockSpacingTop) * -1) 0px 0px var(--debugYellow2);
}
body.debug hr {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px 0px 0px var(--wireWeight) var(--debugGreen4);
}
body.debug :first-child {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px var(--blockSpacingBottom) 0px 0px var(--debugYellow2);
}
body.debug :last-child {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px calc(var(--blockSpacingTop) * -1) 0px 0px var(--debugYellow2);
}
body.debug :first-child:last-child {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugGreen4),
              0px 0px 0px var(--wireWeight) var(--debugGreen4);
}
body.debug grid > * {
  box-shadow: inset 0px 0px 0px var(--wireWeight) var(--debugBlue8),
              0px 0px 0px var(--wireWeight) var(--debugBlue8);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjxubyBzb3VyY2U+Iiwic3JjL2RlYnVnLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSwwREFBQTtBQ0FBLFVBQVU7QUFDVjtFQUNFLHlDQUF5QztFQUN6Qyx3Q0FBd0M7O0VBRXhDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3Qzs7RUFFeEMsd0NBQXdDOztFQUV4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7O0VBRXhDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3QztFQUN4Qyx3Q0FBd0M7RUFDeEMsd0NBQXdDO0VBQ3hDLHdDQUF3Qzs7RUFFeEMsaUJBQWlCO0FBQ25CO0FBRUEsNEJBQTRCLDBCQUEwQixFQUFFO0FBRXhEOzs7Ozs7Ozs7RUFTRTs7OytFQUc2RTtBQUMvRTtBQUNBO0VBQ0U7OERBQzREO0FBQzlEO0FBQ0E7RUFDRTs7dUVBRXFFO0FBQ3ZFO0FBQ0E7RUFDRTs7K0VBRTZFO0FBQy9FO0FBQ0E7RUFDRTs4REFDNEQ7QUFDOUQ7QUFFQTtFQUNFOzZEQUMyRDtBQUM3RCIsImZpbGUiOiJyYXN0ZXIuZGVidWcuY3NzIiwic291cmNlc0NvbnRlbnQiOltudWxsLCIvKiBEZWJ1ZyAqL1xuOnJvb3Qge1xuICAtLWRlYnVnR3JleTA1OiAgcmdiYSgxMjAsIDEyMCwgMTIwLCAwLjA1KTtcbiAgLS1kZWJ1Z0dyZXkxOiAgIHJnYmEoMTIwLCAxMjAsIDEyMCwgMC4xKTtcblxuICAtLWRlYnVnR3JleTI6ICAgcmdiYSgxMjAsIDEyMCwgMTIwLCAwLjIpO1xuICAtLWRlYnVnUmVkMjogICAgcmdiYSgyMzgsIDM5LCAgMTcsICAwLjIpO1xuICAtLWRlYnVnQmx1ZTI6ICAgcmdiYSgyNCwgIDExMywgMjMzLCAwLjIpO1xuICAtLWRlYnVnR3JlZW4yOiAgcmdiYSgxOCwgIDE5MiwgOTEsICAwLjIpO1xuICAtLWRlYnVnWWVsbG93MjogcmdiYSgyNDksIDE5MSwgMTUsICAwLjIpO1xuICAtLWRlYnVnUGluazI6ICAgcmdiYSgyNTUsIDAsICAgMjU1LCAwLjIpO1xuICAtLWRlYnVnQ3lhbjI6ICAgcmdiYSgyMCwgIDIzMCwgMjQ1LCAwLjIpO1xuXG4gIC0tZGVidWdDeWFuMzogICByZ2JhKDIwLCAgMjMwLCAyNDUsIDAuMyk7XG5cbiAgLS1kZWJ1Z0dyZXk0OiAgIHJnYmEoMTIwLCAxMjAsIDEyMCwgMC40KTtcbiAgLS1kZWJ1Z1JlZDQ6ICAgIHJnYmEoMjM4LCAzOSwgIDE3LCAgMC40KTtcbiAgLS1kZWJ1Z0JsdWU0OiAgIHJnYmEoMjQsICAxMTMsIDIzMywgMC40KTtcbiAgLS1kZWJ1Z0dyZWVuNDogIHJnYmEoMTgsICAxOTIsIDkxLCAgMC40KTtcbiAgLS1kZWJ1Z1llbGxvdzQ6IHJnYmEoMjQ5LCAxOTEsIDE1LCAgMC40KTtcbiAgLS1kZWJ1Z1Bpbms0OiAgIHJnYmEoMjU1LCAwLCAgIDI1NSwgMC40KTtcbiAgLS1kZWJ1Z0N5YW40OiAgIHJnYmEoMjAsICAyMzAsIDI0NSwgMC40KTtcblxuICAtLWRlYnVnR3JleTg6ICAgcmdiYSgxMjAsIDEyMCwgMTIwLCAwLjgpO1xuICAtLWRlYnVnUmVkODogICAgcmdiYSgyMzgsIDM5LCAgMTcsICAwLjgpO1xuICAtLWRlYnVnQmx1ZTg6ICAgcmdiYSgyNCwgIDExMywgMjMzLCAwLjgpO1xuICAtLWRlYnVnR3JlZW44OiAgcmdiYSgxOCwgIDE5MiwgOTEsICAwLjgpO1xuICAtLWRlYnVnWWVsbG93ODogcmdiYSgyNDksIDE5MSwgMTUsICAwLjgpO1xuICAtLWRlYnVnUGluazg6ICAgcmdiYSgyNTUsIDAsICAgMjU1LCAwLjgpO1xuICAtLWRlYnVnQ3lhbjg6ICAgcmdiYSgyMCwgIDIzMCwgMjQ1LCAwLjgpO1xuXG4gIC0td2lyZVdlaWdodDogMXB4O1xufVxuXG5odG1sLmNocm9tZSwgaHRtbC5maXJlZm94IHsgLS13aXJlV2VpZ2h0OiB2YXIoLS1waXhlbCk7IH1cblxuYm9keS5kZWJ1ZyBhZGRyZXNzLCBib2R5LmRlYnVnIGFydGljbGUsIGJvZHkuZGVidWcgYXNpZGUsXG5ib2R5LmRlYnVnIGJsb2NrcXVvdGUsIGJvZHkuZGVidWcgY2FudmFzLCBib2R5LmRlYnVnIGRkLCBib2R5LmRlYnVnIGRpdixcbmJvZHkuZGVidWcgZGwsIGJvZHkuZGVidWcgZHQsIGJvZHkuZGVidWcgZmllbGRzZXQsIGJvZHkuZGVidWcgZmlnY2FwdGlvbixcbmJvZHkuZGVidWcgZmlndXJlLCBib2R5LmRlYnVnIGZvb3RlciwgYm9keS5kZWJ1ZyBmb3JtLCBib2R5LmRlYnVnIGdyaWQsXG5ib2R5LmRlYnVnIGgxLCBib2R5LmRlYnVnIGgyLCBib2R5LmRlYnVnIGgzLCBib2R5LmRlYnVnIGg0LCBib2R5LmRlYnVnIGg1LFxuYm9keS5kZWJ1ZyBoNiwgYm9keS5kZWJ1ZyBoZWFkZXIsIGJvZHkuZGVidWcgaHIsIGJvZHkuZGVidWcgbGksXG5ib2R5LmRlYnVnIG1haW4sIGJvZHkuZGVidWcgbmF2LCBib2R5LmRlYnVnIG5vc2NyaXB0LCBib2R5LmRlYnVnIG9sLFxuYm9keS5kZWJ1ZyBwLCBib2R5LmRlYnVnIHByZSwgYm9keS5kZWJ1ZyBzZWN0aW9uLCBib2R5LmRlYnVnIHRhYmxlLFxuYm9keS5kZWJ1ZyB0Zm9vdCwgYm9keS5kZWJ1ZyB1bCwgYm9keS5kZWJ1ZyB2aWRlbyB7XG4gIGJveC1zaGFkb3c6IGluc2V0IDBweCAwcHggMHB4IHZhcigtLXdpcmVXZWlnaHQpIHZhcigtLWRlYnVnUGluazQpLFxuICAgICAgICAgICAgICAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z1Bpbms0KSxcbiAgICAgICAgICAgICAgMHB4IHZhcigtLWJsb2NrU3BhY2luZ0JvdHRvbSkgMHB4IDBweCB2YXIoLS1kZWJ1Z1llbGxvdzIpLFxuICAgICAgICAgICAgICAwcHggY2FsYyh2YXIoLS1ibG9ja1NwYWNpbmdUb3ApICogLTEpIDBweCAwcHggdmFyKC0tZGVidWdZZWxsb3cyKTtcbn1cbmJvZHkuZGVidWcgaHIge1xuICBib3gtc2hhZG93OiBpbnNldCAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z0dyZWVuNCksXG4gICAgICAgICAgICAgIDBweCAwcHggMHB4IHZhcigtLXdpcmVXZWlnaHQpIHZhcigtLWRlYnVnR3JlZW40KTtcbn1cbmJvZHkuZGVidWcgOmZpcnN0LWNoaWxkIHtcbiAgYm94LXNoYWRvdzogaW5zZXQgMHB4IDBweCAwcHggdmFyKC0td2lyZVdlaWdodCkgdmFyKC0tZGVidWdHcmVlbjQpLFxuICAgICAgICAgICAgICAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z0dyZWVuNCksXG4gICAgICAgICAgICAgIDBweCB2YXIoLS1ibG9ja1NwYWNpbmdCb3R0b20pIDBweCAwcHggdmFyKC0tZGVidWdZZWxsb3cyKTtcbn1cbmJvZHkuZGVidWcgOmxhc3QtY2hpbGQge1xuICBib3gtc2hhZG93OiBpbnNldCAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z0dyZWVuNCksXG4gICAgICAgICAgICAgIDBweCAwcHggMHB4IHZhcigtLXdpcmVXZWlnaHQpIHZhcigtLWRlYnVnR3JlZW40KSxcbiAgICAgICAgICAgICAgMHB4IGNhbGModmFyKC0tYmxvY2tTcGFjaW5nVG9wKSAqIC0xKSAwcHggMHB4IHZhcigtLWRlYnVnWWVsbG93Mik7XG59XG5ib2R5LmRlYnVnIDpmaXJzdC1jaGlsZDpsYXN0LWNoaWxkIHtcbiAgYm94LXNoYWRvdzogaW5zZXQgMHB4IDBweCAwcHggdmFyKC0td2lyZVdlaWdodCkgdmFyKC0tZGVidWdHcmVlbjQpLFxuICAgICAgICAgICAgICAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z0dyZWVuNCk7XG59XG5cbmJvZHkuZGVidWcgZ3JpZCA+ICoge1xuICBib3gtc2hhZG93OiBpbnNldCAwcHggMHB4IDBweCB2YXIoLS13aXJlV2VpZ2h0KSB2YXIoLS1kZWJ1Z0JsdWU4KSxcbiAgICAgICAgICAgICAgMHB4IDBweCAwcHggdmFyKC0td2lyZVdlaWdodCkgdmFyKC0tZGVidWdCbHVlOCk7XG59XG4iXX0= */