/* document */
html { font-family: var(--sansFont), -system-ui, system-ui, sans-serif; }

html {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  background: #fff;
  color: #000;
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'cv10' 1; /* G */
}

body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: calc(var(--lineHeight) * 2);
  padding-bottom: calc(var(--lineHeight) * 3);
}

@media only screen and (max-width: 600px) {
  body {
    padding: var(--lineHeight);
    padding-bottom: calc(var(--lineHeight) * 2);
  }
}
